<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h3>迭代数组</h3>
        <ul>
            <li v-for="(emp, index) in emps" :key="index">
                编号：{{index + 1}}，姓名：{{emp.name}}，工资：{{emp.salary}}
            </li>
        </ul>
        <h3>迭代对象</h3>
        <ul>
            <li v-for="(value,key,index) in emps[0]">
                第{{index+1}}个属性为:{{key}} = {{value}}
            </li>
        </ul>

    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                emps:[
                    {name:'张三',salary:'2000'},
                    {name:'李四',salary:'1000'},
                    {name:'王五',salary:'3000'}
                ]
            }
        })
    </script>
</body>
</html>